$color-primary: blue;

.dashboard_wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f9fbfd;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.main_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.page_content {
  padding: 60px;
  overflow-y: auto;
  flex-grow: 1;

  @media (max-width: 768px) {
    padding: 24px;
  }

  @media (max-width: 480px) {
    padding: 16px;
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 100%;
}
