
$color-primary: blue;

.dashboard_wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: #f9fbfd;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  border-right: 1px solid #e0e6ed;
  position: fixed;
  // top: 0;
  // height: 100%;
  // bottom: 0;
  left: 0;
  z-index: 1000;
}

.main_content {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  height: 100vh;
}

.top_nav {
  width: 100%;
  padding: 0 24px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.page_content {
  padding: 60px;
  overflow-y: auto;
  flex-grow: 1;
  margin-top: 70px; 
  background-color: #FBFBFB;
}


